# /public/.htaccess
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
  Header unset X-Frame-Options
  Header always unset X-Frame-Options
  Header always set Content-Security-Policy "frame-ancestors 'self' https://world.elonn.com;"
</IfModule>
